# Kirby .htaccess

# rewrite rules
<IfModule mod_rewrite.c>

# enable awesome urls. i.e.: 
# http://yourdomain.com/about-us/team
RewriteEngine on

# make sure to set the RewriteBase correctly
# if you are running the site in a subfolder.
# Otherwise links or the entire site will break.
# 
# If your homepage is http://yourdomain.com/mysite
# Set the RewriteBase to:
# 
# RewriteBase /mysite
# 
RewriteBase /team4minimal

# block text files in the content folder from being accessed directly
RewriteRule ^content/(.*)\.(txt|md|mdown)$ error [R=301,L]

# block all files in the site folder from being accessed directly
RewriteRule ^site/(.*) error [R=301,L]

# block all files in the kirby folder from being accessed directly
RewriteRule ^kirby/(.*) error [R=301,L]

# make panel links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^panel/(.*) panel/index.php [L]

# make site links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [L]
 
</IfModule>


# Additional recommended values
# Remove comments for those you want to use.
# 
AddDefaultCharset UTF-8
php_flag short_open_tag on


##############################################


ErrorDocument 404 /404.php

# Prevent directory listings
Options -Indexes

# Add additional MIME Types
#AddType mime/type-here .ext .anotherext
AddType text/x-component .htc

# Reduce page size by compressing static data and save bandwidth
AddOutputFilterByType DEFLATE text/html text/plain text/css text/xml application/xml application/xhtml+xml text/javascript application/x-javascript application/json
<FilesMatch "\.(svg|ttf|otf|eot)$" >
SetOutputFilter DEFLATE
</FilesMatch>

# MAINTENANCE PAGE REDIRECT
#RewriteEngine on
#RewriteBase /
#RewriteCond %{REMOTE_ADDR} !^76\.171\.220\.106
#RewriteCond %{REQUEST_URI} !^/maintenance\.php$
#RewriteCond %{REQUEST_URI} !\.(css|js|png|svg|jpe?g?|gif) [NC]
#RewriteRule ^(.*)$ /maintenance.php [R=307,L]

#Redirect 301 /SHORTCUT /PAGE/OR.URL