@charset "utf-8";

* {
	-webkit-text-size-adjust: none;
}

header {
	height: 210px;
}

body>section {
	margin: 0 20pt;
}

header>nav a {
	margin: 0 0.175em;
}

#teamFourElement {
	float: none;
	margin-top: 10pt;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-size: 280px 120px;
	width: 280px; height: 120px;
}

#schoolInfo {
	float: none;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.footer a {
	float: none;
	display: block;
}

.noMobile {
	display: none !important;
}
