@charset "utf-8";

* {
	-webkit-text-size-adjust: none;
}

header {
	height: 210px;
}

body>section {
	margin: 0 20pt;
}

header>nav a {
	margin: 0 0.175em;
}

#fourOHfour {
	float: none;
	margin-top: 10pt;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-size: 240px 120px;
	width: 240px; height: 120px;
}

#teamFourElement {
	float: none;
	margin-top: 10pt;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-size: 280px 120px;
	width: 280px; height: 120px;
}

#schoolInfo {
	float: none;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.previous, .next {
	float: none;
	text-align: center;
	width: 100%;
	margin-bottom: 1em;
}

nav.pagination {
	height: 5em;
}

nav.pagination a,nav.pagination span.gap {
	display: none;
	margin: 0;
}

nav.pagination a.prev,nav.pagination a.next {
	display: inline;
}

.banner.ohSix {
	padding-bottom: 50px;
}

.mentorPost {
	display: inline-block;
	padding-bottom: 110px;
}

.mentor {
	display: inline-block;
}

.noMobile {
	display: none !important;
}
