@charset "utf-8";

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Montserrat/Montserrat-Regular.eot);
	src: url(../fonts/Montserrat/Montserrat-Regular.eot?#iefix) format("embedded-opentype"),
		 url(../fonts/Montserrat/Montserrat-Regular.woff) format("woff"),
		 url(../fonts/Montserrat/Montserrat-Regular.ttf) format("truetype"),
		 url(../fonts/Montserrat/Montserrat-Regular.svg#montserratregular) format("svg");
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	src: url(../fonts/Montserrat/Montserrat-Bold.eot);
	src: url(../fonts/Montserrat/Montserrat-Bold.eot?#iefix) format("embedded-opentype"),
		 url(../fonts/Montserrat/Montserrat-Bold.woff) format("woff"),
		 url(../fonts/Montserrat/Montserrat-Bold.ttf) format("truetype"),
		 url(../fonts/Montserrat/Montserrat-Bold.svg#montserratbold) format("svg");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, dialog, embed, figure, figcaption, social, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background-color: transparent;
}

article, aside, details, figcaption, figure, social, footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	-webkit-font-smoothing: antialiased;
	-khtml-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

body {
	font-family: "Gotham", "Gotham Book", "Gotham-Book", "ProximaNova-Regular", "Avenir", "Montserrat", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	font-size: 12pt;
	line-height: 1.5em;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

blockquote {
	border-left: 5pt solid #ddd;
	color: #888;
	margin: 10pt 0;
	padding-left: 1em;
}

blockquote a {
	color: #444;
}

blockquote a:hover {
	color: #0881b3;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

header div, nav div, section, social div, footer div, .flash div {
	max-width: 480pt;
	margin: 0 auto;
	padding: 0;
}

header * {
	font-size: 12pt;
}

header {
	background: #134e8a;
	color: #fff;
	text-shadow: 0 1pt 0 rgba(0, 0, 0, 0.2);
	padding: 6pt;
	height: 290px;
}

footer {
	background: #134e8a;
	color: #fff;
	text-shadow: 0 1pt 0 rgba(0, 0, 0, 0.2);
	padding: 10pt;
}

footer div {
	text-align: center;
	font-weight: bold;
	font-size: 10pt;
}

nav {
	background: #3cb0e3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 6pt;
	text-align: center;
	margin-bottom: 18pt;
}

nav.submenu {
	margin-top: -26pt;
	margin-bottom: 18pt;
}

nav a {
	color: #fff;
	font-weight: bold;
	margin: auto 0.25em;
	-webkit-transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
	-moz-transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
	-ms-transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
	-o-transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
	transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
	text-decoration: none;
	border-bottom: 2pt solid transparent;
}

nav.submenu a {
	font-weight: normal;
	border-bottom: 1pt solid transparent;
}

nav a:hover {
	border-bottom: 2pt solid;
}

nav.submenu a:hover {
	border-bottom: 1pt solid;
}

.active {
	border-bottom: 2pt solid;
}

.submenu .active {
	border-bottom: 1pt solid;
}

a {
	-webkit-transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
	-moz-transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
	-ms-transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
	-o-transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
	transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
	color: #0881b3;
	text-decoration: none;
	border-bottom: 1pt solid transparent;
}

a:hover {
	border-bottom: 1pt solid;
}

strong, b {
	font-weight: bold;
}

em {
	font-style: normal;
	background-color: #fffeca;
	padding: 0 0.1em;
}

i {
	font-style: italic;
}

abbr {
	border-bottom: 1pt dashed;
	cursor: help;
}

p {
	margin: 0 0 1em;
	text-shadow: 0pt 1pt 0pt rgba(255, 255, 255, 0.75);
}

hr {
	margin-bottom: 2em;
	border: 0;
}

small {
	font-size: 0.8em;
	color: #9a9ea8;
	margin-left: 0.2em;
}

small a {
	color: #444;
}

small a:hover {
	color: #2e80d3;
}

pre, code {
	background-color: #f8f8ff;
	border: 1px solid #dedede;
	color: #444;
	font-family: "Menlo", "Monaco", "Courier", monospace;
}

pre {
	font-size: 13px;
	margin: 10pt 0;
	overflow: auto;
	padding: 1em;
}

code {
	padding: 0 0.2em;
	font-size: 0.8em;
}

pre code {
	border: medium none;
	font-size: 1em;
	padding: 0;
}

.codeBlock {
	background-color: #000000;
	color: #28FE14;
	font-family: "Courier", "Monaco", "Andale Mono", monospace;
	margin: 10pt 0;
	overflow: auto;
	padding: 1em;
}

h1 {
	color: #444;
	font-size: 1.8em;
	font-weight: bold;
	text-shadow: 0pt 1pt 0pt rgba(255, 255, 255, 0.75);
}

h1 a {
	color: #444;
	border: 0;
}

h2 {
	color: #444;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 0.3em;
	text-shadow: 0pt 1pt 0pt rgba(255, 255, 255, 0.75);
}

h2 a {
	color: #444;
	border: 0;
}

h3 {
	font-size: 0.9em;
	color: #444;
	font-weight: normal;
	margin-bottom: 0.5em;
	text-shadow: 0pt 1pt 0pt rgba(255, 255, 255, 0.75);
}

h4 {
	color: #9a9ea8;
	font-weight: bold;
	text-shadow: 0pt 1pt 0pt rgba(255, 255, 255, 0.75);
}

img {
	width: 100%;
	max-width: 640px;
	height: auto;
}

a.light {
	color: #9a9ea8;
}

a.light:hover {
	color: #0881b3;
}

a.orange {
	color: #ff7243;
}

ul.list {
	margin: 0 0 1em;
	padding-left: 1.5em;
}

ul.list li {
	list-style-type: disc;
}

ol.list {
	margin: 0 0 1em;
	padding-left: 1.5em;
}

ol.list li {
	list-style-type: decimal;
}

p.empty {
	text-align: center;
	padding: 1em 0;
}

span.nowrap {
	white-space: nowrap;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.right {
	text-align: right;
	float: right;
}

.hidden {
	visibility: hidden;
}

#fourOHfour {
	float: left;
	margin-top: 50px;
	background-image: url(../vectors/four-oh-four.svgz);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 268px 134px;
	width: 268px; height: 134px;
}

#teamFourElement {
	float: left;
	margin-top: 50px;
	background-image: url(../vectors/team-four-element.svgz);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 314px 134px;
	width: 314px; height: 134px;
}

#phoenix {
	float: right;
	background-image: url(../vectors/phoenix.svgz);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 300px 300px;
	width: 300px; height: 300px;
}

#schoolInfo {
	float: left;
	position: absolute;
	margin-top: 220px;
	margin-left: 50px;
}

#schoolInfo a {
	color: white;
	font-weight: bold;
}

#schoolInfo .small {
	font-size: 0.8em;
}

.post {
	padding: 18pt 0;
}

img.post {
	padding: 10pt 0;
}

img.postCenter {
	padding: 10pt;
}

a.post {
	border: 0;
}

a.post:hover {
	border: 0;
}

.previous {
	display: inline-block;
	float: left;
}

.next {
	display: inline-block;
	float: right;
	text-align: right;
}

nav.pagination {
	background: none;
	text-align: center;
	height: 1em;
	padding-bottom: 36pt;
}

nav.pagination a {
	padding: 2px 6px;
	-webkit-transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
	-moz-transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
	-ms-transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
	-o-transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
	transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
	color: #0881b3;
	font-weight: normal;
	text-decoration: none;
	border-bottom: 1pt solid transparent;
}

nav.pagination a: hover {
	background: #0881b3;
	border-color: #0881b3;
	color: white;
	font-weight: normal;
	text-decoration: none;
	text-shadow: none;
	border-bottom: 1pt solid;
}

nav.pagination a[rel=next]: hover,nav.pagination a[rel=prev]: hover {
	background: none;
	text-decoration: underline;
	color: #0881b3;
}

nav.pagination span {
	padding: 2px 6px;
}

nav.pagination em {
	padding: 4px 8px;
}

span.disabled {
	color: #aaaaaa;
}

.hero * {
	margin: 5pt;
}

.hero.top {
	margin-top: 0;
}

.hero.bottom {
	margin: 0;
	margin-top: 15pt;
}

.hero img {
	max-width: 255px;
	height: auto;
}

.robotHero {
	width: 178px;
	height: 165px;
}

.banner {
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 200px 415px;
	width: 200px; height: 415px;
	padding: 0 5px;
}

.banner.ohFive {
	background-image: url(../vectors/banner-05.svgz);
}

.banner.ohSix {
	background-image: url(../vectors/banner-06.svgz);
}

.banner.ohSeven {
	background-image: url(../vectors/banner-07.svgz);
}

iframe {
	width: 100%;
	max-width: 640px;
	height: auto;
}

.mentorPost {
	display: inline-block;
}

.mentorPost.reverse {
	margin-left: auto;
	margin-right: 0;
}

.mentor {
	display: inline-block;
	vertical-align: middle;
}

.mentor.reverse {
	float: right;
}

.mentorInfo {
	vertical-align: middle;
}

.dept {
	display: inline-block;
	font-style: normal;
	background-color: #fffeca;
	padding: 0 0.1em;
}

.deptHead {
	display: inline-block;
	margin-left: 1.5em;
}

.deptHead span {
	font-size: 0.9em;
	color: #444;
	font-weight: normal;
	margin-bottom: 0.5em;
	text-shadow: 0pt 1pt 0pt rgba(255, 255, 255, 0.75);
}

.sponsor {
	text-align: center;
	vertical-align: middle;
	padding: 10pt 0pt;
}

.sponsor img {
	max-width: 150px;
	height: auto;
}

.sponsorLogo {
	border: 0;
}

.sponsorLogo:hover {
	border: 0;
}

.sponsorFamily {
	cursor: pointer;
	font-weight: bold;
	color: #bebebe;
}

.sponsorFamily:hover {
	color: #3cb0e3;
}

.sponsorFamily:hover .sponsorFamilyName {
	color: #134e8a;
}

.frcLogo {
	padding-bottom: 9pt;
	width: 250px;
	height: 173px;
}

.frcTable {
	width: 100%;
	margin-bottom: 15pt;
}

.frcTable th, .frcTable td {
	padding: 5pt 0;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
}

.frcTable td {
	border-top: 1px solid #dedede;
}

.frcTable th:first-of-type, .frcTable td:first-of-type {
	border-left: 0;
}

.frcTable th:last-of-type, .frcTable td:last-of-type {
	border-right: 0;
}

social {
	background: #3cb0e3;
	margin-top: 15pt;
}

social div a {
	display: inline-block;
	margin: 5pt;
	margin-top: 8pt;
	border: 0;
}

social div a:hover {
	border: 0;
}

#socialIconTwitter {
	background-image: url(../vectors/twitter.svgz);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 30px 24px;
	width: 30px; height: 24px;
}

#socialIconFacebook {
	background-image: url(../vectors/facebook.svgz);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	width: 24px; height: 24px;
}

#socialIconYouTube {
	background-image: url(../vectors/youtube.svgz);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 64px 24px;
	width: 64px; height: 24px;
}

#socialIconInstagram {
	background-image: url(../vectors/instagram.svgz);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	width: 24px; height: 24px;
}

#socialIconGitHub {
	background-image: url(../vectors/github.svgz);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	width: 24px; height: 24px;
}
