@charset "utf-8";

* {
	-webkit-text-size-adjust: none;
}

header {
	height: 210px;
}

body>section {
	margin: 0 20pt;
}

header>nav a {
	margin: 0 0.175em;
}

div.grater-container {
	width: 240px;
}

div.grater {
	margin-bottom: 1em;
}

div.grater>div {
	float: none !important;
	margin: 0 auto 2em;
}

#fourOHfour {
	float: none;
	margin-top: 10pt;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-size: 240px 120px;
	width: 240px; height: 120px;
}

#teamFourElement {
	float: none;
	margin-top: 10pt;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-size: 280px 120px;
	width: 280px; height: 120px;
}

#schoolInfo {
	float: none;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.mentorPost {
	display: inline-block;
	padding-bottom: 110px;
}

.mentor {
	display: inline-block;
}

.footer a {
	float: none;
	display: block;
}

.noMobile {
	display: none !important;
}
