@charset "utf-8";

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Montserrat" !important;
		font-style: normal !important;
		font-weight: normal !important;
		src: url(../fonts/Montserrat/Montserrat-Regular.svg#montserratregular) format("svg") !important;
	}
	
	@font-face {
		font-family: "Montserrat" !important;
		font-style: normal !important;
		font-weight: bold !important;
		src: url(../fonts/Montserrat/Montserrat-Bold.svg#montserratbold) format("svg") !important;
	}
}
